## MySQL_Run
* 跑这个!
### 代码运行环境
* 如果会 python, jupyter 的可以略过这一部分, 直接去 Introduction
* 去 https://colab.research.google.com/
* 点 左上角 File, new notebook 或者直接 upload 这个文件 (MySQL_Run)
* 新建的话, 就开俩代码块, 依次复制粘贴 1 和 2, 再依次运行 1 和 2, 应该就 ok 了
* 连接的上的话, 跑了之后最下面会显示 100 行数据

---

### Introduction
1. 按顺序依次跑 1, 2 两条
2. 懒得管别的的话, 注意一下打⭐️五角星⭐️的地方就行, 别的都不用管
3. 不要运行 (改动, 删除) 有关的命令, 因为, 这个数据库是 7 个人共享的
   1. 在 query️ ⭐️的地方换成你的 read query 就行 (Select blablabla)

---
1. install Python Packages

In [ ]:
pip install pymysql sqlalchemy

2. Connect + Run Query

In [6]:
from sqlalchemy import create_engine
import pandas as pd

# Connection Info
username = ''
password = ''
host = ''
port = ''
database = ''

# 连接到 mysql 系统库
engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}",
    connect_args={"charset": "utf8mb4"}
)

# ⭐️你的 Query 放在这里, 暂时是一个 placeholder⭐️
query = """
SELECT *
from airlines
"""

# 用 pandas.read_sql
df = pd.read_sql(query, con=engine)

# ⭐️head 就是最多显示多少行, 现在是最多显示 100 行⭐️
df.head(100)

,airline_id,name,alias,iata,icao,country,active
0,1,Roberson LLC,detail,KT,TEW,Poland,Y
1,2,Newman and Sons,strong,XO,VDL,American Samoa,N
2,3,Oneal PLC,threat,GO,NHF,New Caledonia,Y
3,4,Robinson and Sons,science,VZ,FSZ,Macao,N
4,5,Davis-Kelly,paper,XX,ZWY,Estonia,N
5,6,"Rose, Ellis and Little",than,SV,IVS,Austria,N
6,7,Perez-Potter,listen,EA,EAY,Thailand,N
7,8,"Murray, Washington and Jones",conference,PY,CSB,Cocos (Keeling) Islands,Y
8,9,Hardy LLC,evening,KS,EBT,Netherlands Antilles,N
9,10,Johns Ltd,use,RF,LWY,Dominica,N
10,11,"Flowers, Hill and Smith",customer,RY,BJT,United States Minor Outlying Islands,Y
11,12,"Olson, Rogers and Harrison",field,XY,HLG,Nicaragua,Y
12,13,Nelson Ltd,top,OM,CPQ,Micronesia,N
13,14,Hensley Inc,daughter,QY,QKN,Saint Martin,Y
14,15,"Lane, Mcfarland and Todd",interest,ZM,JAA,Zimbabwe,Y
15,16,Wright LLC,country,CK,UQN,Nicaragua,Y
16,17,Knight Ltd,right,IT,VQP,Japan,Y
17,18,Perez Inc,something,CQ,HFZ,Saint Lucia,N
18,19,Guerrero Group,speech,ZY,JEP,Vanuatu,N
19,20,Ross and Sons,wonder,PX,RDO,Japan,N
20,21,"Brown, Coleman and Perez",participant,ON,PRO,Oman,Y
21,22,Young Group,alone,ZP,OBF,Fiji,N
22,23,Garcia and Sons,some,OM,QIL,Samoa,N
23,24,"Johnson, Carlson and Wilson",write,FR,PNG,Saint Helena,N
24,25,"Garcia, Sawyer and Wilkins",worker,MQ,IME,Libyan Arab Jamahiriya,N
25,26,"George, Hernandez and Bartlett",state,TP,ZBY,Micronesia,N
26,27,"Fisher, Bell and Roberts",get,OO,UKK,Jordan,N
27,28,Robinson and Sons,main,MM,UXF,Israel,N
28,29,Perez-Smith,live,DI,ZGP,Bermuda,Y
29,30,Vasquez-Smith,relationship,XS,TAO,Christmas Island,N